{% load static %}  <!-- Asegúrate de que esta línea esté presente, para que Django reconozca la etiqueta static, para los estilos CSS -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Error</title>
        <link rel="stylesheet" href="{% static 'app/styles.css' %}"> <!-- Ruta CSS-->
    </head>
    <body>
        <div class="container">
            <h1>Error en la subida de archivos</h1>
            <p>{{ error }}</p>
            <a href="/">Volver</a>
        </div>
    </body>
</html>